<div class="container">
  <div id="assignment-header" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>HELLO{{ assignment.name }}</h3>
      <div>Posted: 10/25/2013 Due: 10/27/2013</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
      DESCRIPTION
      <div id="assignment-description" class="well">
        <small>
          {{ assignment.description }}
        </small>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
      <div class="row">
        DROPBOX
        <div id="assignment-submission-widget" class="well">
          <button class="btn btn-block btn-lg btn-info">Submit</button>
        </div>
      </div>
      <div class="row">
        ATTACHMENTS
        <div id="assignment-attachments-widget" class="well">
          <ul>
            <li data-ng-repeat="attachment in assignment.attachments">
              <a>{{ attchment.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      COMMENTS
      <div class="well">
       comments...
      </div>
    </div> 
  </div>
</div>
