<!-- Student View -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" auth="student">
  <div class="row">
    <div class="col-lg-5">
      Sort By: 
      <select ng-model="contentSort" ng-init="contentSort='-posted'">
        <option value="-posted">Posted (descending)</option>
        <option value="posted">Posted (ascending)</option>
        <option value="-due">Due date (descending)</option>
        <option value="due">Due Date (ascending)</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div id="" class="content-item col-lg-4 col-md-4 col-sm-4 col-xs-12  well" ng-repeat="content in contentList | orderBy:contentSort">
      <h6>
        <a href="/#/course/{{ course._id }}/{{ itemType }}/{{ content._id }}" class="content-list-name">{{ content.title }}</a>
      </h6>
      <b>Posted:</b> {{ content.posted | date:'shortDate' }} 
      <b>Due:</b> {{ content.due | date:'shortDate'}}
    </div>
  </div>
</div>

<!-- Instructor View -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" auth="instructor" >
  <div class="row">
    <div class="col-lg-5">
      Sort By: 
      <select ng-model="contentSort" ng-init="contentSort='-posted'">
        <option value="-posted">Posted (descending)</option>
        <option value="posted">Posted (ascending)</option>
        <option value="-due">Due date (descending)</option>
        <option value="due">Due Date (ascending)</option>
      </select>
    </div>
    <div id="create-material-button" class="col-lg-7 ">
      <button data-toggle="modal" data-target="#edit-assignment-modal" class="btn btn-xs btn-primary" ng-click="prepareForNewAssignment()">New</button>
    </div>
  </div>
  <div class="row">
    <div id="" class="content-item col-lg-4 col-md-4 col-sm-4 col-xs-12  well" ng-repeat="content in contentList | orderBy:contentSort">
      <h6><a href="/#/course/{{ course._id }}/{{ itemType }}/{{ content._id }}" class="content-list-name">{{ content.title }}</a></h6>
      <b>Posted:</b> {{content.posted | date:'shortDate'}} <b>Due:</b> {{content.due | date:'shortDate'}}<br>
      <a data-toggle="modal" data-target="#edit-assignment-modal" class="col-lg-2 material-instructor-links" ng-click="prepareForEditAssignment({{content}})"><small>Edit</small></a>
      <a data-toggle="modal" data-target="#remove-modal" class="col-lg-2 material-instructor-links" ng-click="prepareForEditAssignment({{content}})"><small>Remove</small></a>
    </div>
  </div>
</div>

<!-- New/Edit Material Modal -->
<div class="modal fade" id="edit-assignment-modal" tabindex="-1" role="dialog" aria-labelledby="new-assignment-submit-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ modalTitle }}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" ng-submit="submitFn()">
          <div class="form-group">
            <label for="assignmentTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input id="assignmentTitle" class="form-control" type="text" name="title" ng-model="editMaterial.title" required placeholder="Assignment Title">
            </div>
          </div>

          <div class="form-group">
            <label for="assignmentDue" class="col-sm-2 control-label">Due</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input id="assignmentDue" class="form-control" type="text" ui-date="dateOptions" name="due" ng-model="editMaterial.due" required placeholder="Due">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="assignmentDue" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" role="textbox" contenteditable="true" ng-model="editMaterial.description" placeholder="Enter description here" tabindex="1" required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="assignmentPoints" class="col-sm-2 control-label">Points</label>
            <div class="col-sm-10">
              <input eequied id="assignmentPoints" class="form-control" type="text" name="points" ng-model="editMaterial.points" required placeholder="Max Points">
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <div title="Add Attachment" class="btn col-lg-1 col-md-2 col-sm-2 col-xs-12 submission-button">
            <span><i class="fa fa-paperclip fa-lg"></i></span>
            <input type="file" 
            ng-file-select="addNewAssignmentAttachments($files)"
            multiple/>
          </div>
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
        </form>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Remove Confirmation Modal -->
<div class="modal fade" id="remove-modal" tabindex="-1" role="dialog" aria-labelledby="new-assignment-submit-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Remove Content</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{selectedContent.title}}?</p> 
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="removeContent()">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
