<div class="container">
  <div id="assignment-header" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>{{ assignment.name }}</h3>
      <div>Posted: 10/25/2013 Due: 10/27/2013</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
      DESCRIPTION
      <div id="assignment-description" class="well">
        <small>
          {{ assignment.description }}
        </small>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
      <div class="row" ng-show="showSubmit">
        DROPBOX
        <div id="assignment-submission-widget" class="well">
          <!-- Button trigger modal -->
          <button data-toggle="modal" data-target="#submit-modal" class="btn btn-block btn-lg btn-info">Submit</button>
        </div>
      </div>

      <div class="row">
        ATTACHMENTS
        <div id="assignment-attachments-widget" class="well">
          <ul class="list-unstyled">
            <li data-ng-repeat="attachment in assignment.attachments">
            <a>{{ attachment.title }}</a>
            </li>
          </ul>
        </div>
      </div> <!-- /.row -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      COMMENTS
      <div class="well">
        comments...
      </div>
    </div> 
  </div>
</div> <!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-labelledby="submit-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Make A Submission</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div id="submission-description-container" class="col-md-12 well">
            <div class="row">
              <textarea role="textbox" contenteditable="true" id="submission-description" placeholder="Enter description here" tabindex="1"></textarea>
            </div> 
            <div class="row">
              <ul id="submission-attachment-list" class="list-unstyled">
                <li class="submission-attachment-box">
                <span class="submission-attachment-box-left"><small>AnotherHomeworkSubmission.pdf</small></span>
                <i role="button" class="submission-attachment-box-right fa fa-times"></i>
                </li>
                <li class="submission-attachment-box">
                <span class="submission-attachment-box-left"><small>ZachsHomework.pdf</small></span>
                <i role="button" class="submission-attachment-box-right fa fa-times"></i>
                </li>
              </ul>
            </div>
          </div> <!-- /#submission-description-container -->

        </div>

        <div id="collaborator-search" class="row submission-collaborator-search-container" ng-hide="hideCollabs">
          <div class="collaborator-search-input">
            Search: <input ng-model="query" value="name">
          </div>
          <ul class="collaborator-search" ng-show="query">
            <li ng-repeat="person in roster | filter:query" class="searched-collaborator col-lg-3 col-md-3 col-sm-4 col-xs-4">
               {{person.name}} <i class="fa fa-plus fa-md"></i>
            </li>
          </ul>   
        </div>

        <div class="row submission-collaborator-container">
          <div class="col-md-12">
            <div class="col-md-2 submission-collaborator">
              <table><tr>
                <td><small>Marius</small></td>
                <td><i class="submission-collaborator-remove fa fa-times"></i></td>
              </tr></table>
            </div>
            <div class="col-md-2 submission-collaborator">
              <table><tr>
                <td><small>Nick</small></td>
                <td><i class="submission-collaborator-remove fa fa-times"></i></td>
              </tr></table>
           </div>
         </div>
       </div>

        <div class="row">
          <div class="col-md-12">
            <div id="submission-submit-container" class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <button type="button" class="btn btn-large btn-primary ">Submit</button>
              <button class="btn" id="submission-attachment-icon" title="Add Attachment"><i class="fa fa-paperclip fa-lg"></i></button>
              <button class="btn" id="submission-collaborator-icon" title="Add Collaborator" ng-click="toggleCollabs()"><i class="fa fa-user fa-lg"></i></button>
            </div>

            <div id="submission-discard-container" class="col-md-2 col-md-offset-4 col-lg-2 col-sm-2 col-xs-2">
              <button class="btn" id="submission-discard-icon"><i class="fa fa-trash-o fa-lg"></i></button>
            </div>
          </div>
        </div>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
