<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div id="assignment-header" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>{{ assignment.title }}</h3>
      <div>
        <b>Posted:</b> {{ assignment.posted | date:'shortDate' }} 
        <b>Due:</b> {{ assignment.due | date:'shortDate' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
      DESCRIPTION
      <div id="assignment-description" class="well">
        <small>
          {{ assignment.description }}
        </small>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
      <div id="assignment-submission-dropbox" class="row" auth="student">
        DROPBOX
        <div id="assignment-submission-widget" class="well">
          <!-- Button trigger modal -->
          <button data-toggle="modal" data-target="#submit-modal" class="btn btn-block btn-sm btn-info">Submit</button>
          <div>
            <ul class="list-unstyled">
              <li ng-repeat="submission in assignment.submissions | orderBy:'posted':true">
              <a>{{ submission._id | characters:10 }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="assignment-submission-attachment" class="row" ng-show="assignment.attachments">
        ATTACHMENTS
        <div id="assignment-attachments-widget" class="well">
          <ul class="list-unstyled">
            <li data-ng-repeat="attachment in assignment.attachments">
            <a target="_blank" href="/api/{{attachment.uploadPath}}/{{attachment.path}}/{{attachment.basename}}">{{attachment.basename}}</a><br>
            </li>
          </ul>
        </div>
      </div> <!-- /.row -->
    </div>
  </div>
  <div auth="instructor" class="instructor-assignment-submissions">
    <!--<div class="row well" ng-repeat="studentSubmission in assignment.submissions | orderBy:'-posted'"> -->
      <h3>Submissions <span class="badge"> {{ assignment.submissions.length }} / {{ roster.length }}</span></h3>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Collaborators</th>
            <th>Submitted</th>
            <th>Attachments</th>
            <th>Grade</th>
            <th>Edit Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="submission in assignment.submissions | orderBy:'submission.student.lastName'">
            <td> <!-- Student Name -->
              {{ getNameByUser(submission.student) }}
            </td>
            <td> <!-- Collaborators -->
              <div ng-show="submission.collaborators.length">
                <ul class="list-unstyled">
                  <li ng-repeat="collaborator in getCollaborators(submission.collaborators)">{{ collaborator }}</li>
                </ul>
              </div>
              <div ng-hide="submission.collaborators.length">
                -
              </div>
            </td>
            <td> <!-- Submitted Date -->
              {{ submission.posted | date:'shortDate' }}
            </td>
            <td> <!-- Attachments -->
              <ul class="list-unstyled">
                <li data-ng-repeat="attachment in submission.attachments">
                  <a tabindex="-1" target="_blank" href="/api/{{attachment.uploadPath}}/{{attachment.path}}/{{attachment.basename}}">{{attachment.basename | characters:10}}</a><br>
                </li>
              </ul>
            </td>
            <td> <!-- Grade -->
              {{ getGrade(submision) }}
            </td>
            <td> <!-- Edit Grade -->
              <form ng-submit="submitGrade(submission)">
                <div class="input-group input-group-sm input-group-slim" ng-class="{ 'has-success': submission.status === 'success', 'has-warning': submission.status === 'warning', 'has-error': submission.status === 'error' }">
                  <input tabindex="$index" class="form-control" ng-model="submission.grade.value" value="submissionValue" placeholder="pts" ng-change="submission.status = 'warning'" required>
                  <span class="input-group-addon">/ 10</span>
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div> <!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-labelledby="submit-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Make A Submission</h4>
      </div><!-- /.modal/header-->
      <div class="modal-body">
        <div class="row">
          <div id="submission-description-container" class="col-md-12 well">
            <div id="submission-description-row" class="row">
              <textarea role="textbox" contenteditable="true" ng-model="submissionDescription" id="submission-description" placeholder="Enter description here" tabindex="1"></textarea>
            </div> 
            <div id="submission-attachments" class="row col-sm-12 col-xs-12">
              <ul id="submission-attachment-list" class="list-unstyled">
                <li class="submission-attachment-box" ng-repeat="attachment in submissionAttachments">
                <span class="submission-attachment-box-left col-xs-12"><small>{{ attachment.basename }}</small></span>
                <i role="button" ng-click="removeAttachment(attachment)" class="submission-attachment-box-right fa fa-times"></i>
                </li>
              </ul>
            </div>
          </div> <!-- /#submission-description-container -->

        </div>

        <div id="collaborator-search" class="row submission-collaborator-search-container" ng-hide="hideCollabs">
          <div class="collaborator-search-input">
            Search: <input ng-model="searchCollab" value="name">
          </div>
          <ul class="collaborator-search" ng-style="{visibility: searchCollab || 'hidden'}">
            <li ng-repeat="person in roster | filter:query" class="searched-collaborator col-lg-3 col-md-3 col-sm-4 col-xs-4">
            {{person.name}} <i class="submission-collaborator-add fa fa-plus fa-md" ng-click="addTag(person.name,person._id)"></i>
            </li>
          </ul>   
        </div>
        <div class="row submission-collaborator-container">
          <div id="collaborator-container" class="col-md-12" ng-repeat="collab in submissionCollaborators">
            <div id="collaborator-{{collab.name}}-{{collab._id}}" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  submission-collaborator" >
              <table><tr>
                  <td><small>{{collab.name}}</small></td>
                  <td><i class="submission-collaborator-remove fa fa-times" ng-click="removeTag(collab.name,collab._id)"></i></td>
              </tr></table>
            </div>
          </div>
        </div>

        <div id="submission-submit-container" class="row ">
          <button type="button" class="btn btn-large btn-primary col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-click="submit()">Submit</button>
          <div title="Add Attachment" class="btn col-lg-1 col-md-2 col-sm-2 col-xs-12 submission-button">
            <span><i class="fa fa-paperclip fa-lg"></i></span>
            <input type="file" 
            ng-file-select="uploadFiles($files)"
            multiple/>
          </div>
          <button class="btn col-lg-1 col-md-2 col-sm-2 col-xs-12 submission-button" id="submission-collaborator-icon" title="Add Collaborator" ng-click="toggleCollabs()"><i class="fa fa-user fa-lg"></i></button>
          <button class="btn col-lg-1 col-md-2 col-sm-2 col-xs-12 submission-button lg-float-right" id="submission-discard-icon" data-dismiss="modal" aria-hidden="true" ng-click="discardSubmission()"><i class="fa fa-trash-o fa-lg"></i></button>
        </div>

      </div> <!-- /.modal-body -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
