<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h6>Course Grade:</h6>
      {{courseGrade}}
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="categories-overall-averages col-lg-2">
          <b>Homework</b>
        </div>
        <div class="col-lg-1">
          {{homeworkAverage}}
        </div>
      </div>
      <div class="row">
        <div class="categories-overall-averages col-lg-2">
          <b>Quizzes</b>
        </div>
        <div class="col-lg-1">
          {{quizAverage}}
        </div>
      </div>
      <div class="row">
        <div class="categories-overall-averages col-lg-2">
          <b>Exams</b>
        </div>
        <div class="col-lg-1">
          {{examAverage}}
        </div>
      </div>
      <div class="row">
        <div class="categories-overall-averages col-lg-2">
          <b>Other</b>
        </div>
        <div class="col-lg-1">
          {{grades.other}}
        </div>
      </div>
    </div>
  </div>
    <div class="row grade-selection-tabs">
    <div ng-class="{active: activeTab=='all'}" class="grade-tab col-lg-2 col-sm-2 col-xs-2" ng-click="changeTab('all')">
      All
    </div>
    <div ng-class="{active: activeTab=='attendance'}" class="grade-tab col-lg-2 col-sm-2 col-xs-2" ng-click="changeTab('attendance')">
      Attendance
    </div>
    <div ng-class="{active: activeTab=='exams'}" class="grade-tab col-lg-2 col-sm-2 col-xs-2" ng-click="changeTab('exams')">
      Exams
    </div>
    <div ng-class="{active: activeTab=='homework'}" class="grade-tab col-lg-2 col-sm-2 col-xs-2" ng-click="changeTab('homework')">
      Homework
    </div>
    <div ng-class="{active: activeTab=='quizzes'}" class="grade-tab col-lg-2 col-sm-2 col-xs-2" ng-click="changeTab('quizzes')">
      Quizzes
    </div>
    <div ng-class="{active: activeTab=='other'}" class="grade-tab col-lg-2 col-sm-2 col-xs-2" ng-click="changeTab('other')">
      Other
    </div>
  </div>
  <div class="row grade-selection-container col-lg-12">
    <div class="row">
      <div class="col-lg-6 col-sm-4 col-xs-4 grade-selection-container-header">
        Title
      </div>
      <div class="col-lg-6 col-sm-4 col-xs-4 grade-selection-container-header">
        Grade
      </div>
      <div class="col-lg-6 col-sm-4 col-xs-4 grade-selection-container-header">
        Average
      </div>
    </div>
    <div class="row well" ng-repeat="grade in gradeList">
       <div class="col-lg-6 col-sm-4 col-xs-4 grade-selection-container-title">
         {{grade.title}}
       </div>
       <div class="col-lg-3 col-sm-4 col-xs-4 grade-selection-container-item">
         {{grade.score}}
       </div>
       <div class="col-lg-3 col-sm-4 col-xs-4 grade-selection-container-item">
         {{grade.average}}
       </div>
    </div>
  </div>
</div>
