<div id="left-navbar-container" ng-controller="NavbarCtrl">
  <div class="row navbar-section">
    <div id="left-navbar-user-container" class="col-lg-12 col-md-12 col-sm-12">

      <div class="row">
        <span class="icon-stack icon-4x">
          <i class="icon-circle icon-stack-base icon-4x"></i>
          <i class="icon-user icon-dark icon-5x"></i>
        </span>
      </div>

      <div class="row">
        <h6>{{ user.fullname }}</h6>
      </div>

    </div>
  </div>

  <div class="row navbar-section">
    <div class="col-lg-12 col-md-12 col-sm-12">

      <div class="row">
        <h4 id="left-navbar-courses-header">Courses</h4>
      </div>

      <div id="left-navbar-courses-list-container" class="row">
        <ul id="left-navbar-courses-list" class="list-unstyled">
          <li ng-repeat="course in user.courses"><a href="/course/{{ course.id }}">{{ course.name }}</a></li>
        </ul>
      </div>

    </div>
  </div> 
</div>
