<div id="navbar-container" ng-controller="NavbarCtrl">
  <div id="navbar-user-info-container" class="row navbar-section">
    <div id="navbar-user-info">

      <div class="row">
        <span class="icon-stack icon-4x">
          <i class="icon-circle icon-stack-base icon-4x"></i>
          <i class="icon-user icon-dark icon-5x"></i>
        </span>
      </div>

      <div class="row">
        <h3>Zachary Wolfe</h3>
      </div>

    </div>
  </div>

  <div id="navbar-courses-container" class="row navbar-section">
    <div id="navbar-courses-content">
      <h4 id="navbar-courses-header">Courses</h4>
      <ul id="navbar-courses" class="unstyled">
        <li class="navbar-course-item" ng-repeat="course in courses">
          <a class="navbar-course-name" href="/courses/{{ course.id }}">{{ course.name }}</a>
          <i class="icon-comment icon-small"></i>
        </li>
      </ul>
    </div>
  </div>

  <div id="navbar-menu-container" class="row navbar-section">
    <div id="navbar-menu">
      <ul class="unstyled">
        <li>
          <a href="/messages" class="navbar-menu-item-text">Messages</a>
          <i class="icon-envelope navbar-menu-item-icon"></i>
        </li>
        <li>
          <a href="/schedule" class="navbar-menu-item-text">Schedule</a>
          <i class="icon-time navbar-menu-item-icon"></i>
        </li>
        <li>
          <a href="/account" class="navbar-menu-item-text">Account</a>
          <i class="icon-user navbar-menu-item-icon"></i>
        </li>
      </ul>
    </div>
  </div>

</div>
