<div id="main" class="row palette-peter-river">

  <div id="left-container" class="col-lg-2 col-md-3 col-sm-3 palette palette-peter-river">
    <div id="left-widget" ui-view="left-widget" >
      <div id="left-navbar-container"> 
        <div class="row navbar-section">
          <div id="left-navbar-user-container" class="col-lg-12 col-md-12 col-sm-12">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <i class="fa fa-user fa-4x"></i>
              </div>
            </div>

            <div class="row">
              <h6>{{ user.name.first }} {{ user.name.last }}</h6>
            </div>

          </div>
        </div>

        <div class="row navbar-section">
          <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="row">
              <h4 id="left-navbar-courses-header">Courses</h4>
            </div>

            <div id="left-navbar-courses-list-container" class="row">
              <ul id="left-navbar-courses-list" class="list-unstyled">
                <li ng-repeat="courseList in user.courses | orderBy:'name':false">
                  <a ui-sref="main.course.home({ courseId: courseList._id })">{{ courseList.name }}</a>
                </li>
              </ul>
            </div>

          </div>
        </div> 
      </div>

    </div>
  </div>

  <div id="center-container" class="col-lg-10 col-md-9 col-sm-9 palette-clouds">
    <div id="top-widget">
      <nav id="top-navbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Open</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ course.name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: $state.includes('grades') }">
              <a ui-sref="main.course.grades({courseId: course._id})">Grades</a>
            </li>
            <li ng-class="{ active: $state.includes('calendar') }">
              <a ui-sref="main.calendar()">Calendar</a>
            </li>
            <li ng-class="{ active: $state.includes('assignments') }">
              <a ui-sref="main.course.assignments({courseId: course._id})">Assignments</a>
            </li>
            <li ng-class="{ active: $state.includes('quiz') }">
              <a ui-sref="main.course.quizzes({courseId: course._id})">Quizzes</a>
            </li>
            <li ng-class="{ active: $state.includes('exam') }">
              <a ui-sref="main.course.exams({courseId: course._id})">Exams</a>
            </li>
            <li ng-class="{ active: $state.includes('note') }">
              <a ui-sref="main.course.notes({courseId: course._id})">Notes</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>

    <div id="center-widget" ui-view></div>

  </div>

</div>
