<nav id="top-navbar" class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Open</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">{{ currentCourse.name }}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Grades</a></li>
      <li><a href="#">Calendar</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course Content<b class="right-caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Assignments</a></li>
          <li><a href="#">Quizzes</a></li>
          <li><a href="#">Exams</a></li>
          <li><a href="#">Notes</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
