<div id="auth-widget" auth="public"> 
  <form ng-submit="login()" name="auth-form">
    <div class="row">
      <div class="auth-username col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group input-group">
          <input type="text" class="form-control" placeholder="Username" name="username" autofocus required ng-model="username"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="auth-password input-group">
        <input type="password" class="form-control" placeholder="Password" name="password" required ng-model="password">
        <span class="input-group-btn">
          <button ng-class="{'btn-info': !loginFailed, 'btn-danger': loginFailed}" class="btn" type="submit">Log In</button>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>
    </div>
  </form>

</div>
