<div class="container">
	<div class="currentgrades">
		<div class="row">
			<div class="col-xs-12">
				<h6 class="current-grades-title">Current Grades</h6>
			</div>
		</div>
		<ul class="grades-list">
			<li class="course-grade-item">
				<div class="row">
					<div class="course-name col-xs-9 col-md-9">CMPSC 483W</div>
					<div class="grade col-xs-3 col-md-3">B+</div>
				</div>
			</li>
			<li class="course-grade-item">
				<div class="row">
					<div class="course-name col-xs-9 col-md-9">CMPSC 473</div>
					<div class="grade col-xs-3 col-md-3">A-</div>
				</div>
			</li>
			<li class="course-grade-item">
				<div class="row">
					<div class="course-name col-xs-9 col-md-9">CMPSC 455</div>
					<div class="grade col-xs-3 col-md-3">C+</div>
				</div>
			</li>
		</ul>
	</div>
</div>