<div class="">
	<div class="currentgrades">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="current-grades-title">Current Grades</h4>
			</div>
		</div>
		<ul class="grades-list">
			<li class="course-grade-item">
				<div class="row">
					<div class="course-name col-xs-9 col-sm-9 col-md-8 col-lg-9">CMPSC 483W</div>
					<div class="grade col-xs-3 col-sm-3 col-md-4 col-lg-3">B+</div>
				</div>
			</li>
			<li class="course-grade-item">
				<div class="row">
					<div class="course-name col-xs-9 col-sm-9 col-md-8 col-lg-9">CMPSC 475</div>
					<div class="grade col-xs-3 col-sm-3 col-md-4 col-lg-3">A-</div>
				</div>
			</li>
			<li class="course-grade-item">
				<div class="row">
					<div class="course-name col-xs-9 col-sm-9 col-md-8 col-lg-9">CMPSC 455</div>
					<div class="grade col-xs-3 col-sm-3 col-md-4 col-lg-3">C+</div>
				</div>
			</li>
		</ul>
	</div>
</div>
