<div auth="student">
	<div class="currentgrades">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="current-grades-title">Current Grades</h4>
			</div>
		</div>
		<ul class="grades-list">
			<li class="course-grade-item" ng-repeat="gradeInfo in gradesInfo">
				<div class="row">
          <div class="course-name col-xs-9 col-sm-9 col-md-8 col-lg-9">
            {{ gradeInfo.courseName }}
          </div>
          <div class="grade col-xs-3 col-sm-3 col-md-4 col-lg-3">
            {{ gradeInfo.letterGrade }}
          </div>
				</div>
			</li>
		</ul>
	</div>
</div>
