
<div class="container">
  <div class="new-post">
    <div class="new-post-container row" auth="instructor">
      <div class="col-xs-8" >
        <input type="text" value placeholder="Create new announcement" class="form-control new-post-input" ng-model="announcement">
      </div>
      <div class="col-xs-4">
        <button type="button" class="btn btn-block btn-info" ng-click="addPost()">Post</button>
      </div>
    </div>
  </div>
  <div class="timeline" infinite-scroll="loadMorePosts()" inifinite-scroll-distance="2">
    <ul class="timeline-container">
      <div ng-show="!visiblePosts.length" class="no-announcements">No Announcements</div>
      <li class="event" ng-repeat="post in visiblePosts | orderBy:'date':true">
        <div class="date-container row">
          <div class="col-xs-12 col-lg-2"> 
            <div class="date">{{ post.date | date:'shortDate' }}</div>
          </div>
        </div>
        <div class="row">
          <div class="user-posting col-xs-12">
            <div class="arrow-left"></div>
            <div class="user-content">
              <div class="user-content-inner">
                <h4 class="class-name">{{ courseName }}</h4> <!-- note: courseName not implemented yet -->
                <p class="time">{{ post.date | date:'shortTime' }}</p>
                <h6 class="user-name">{{ post.author }}</h6> <!-- note: author not implemented yet -->
                <p class="user-text">{{ post.text }}</p>
              </div>
              <div class="user-content-toolbar {{ post.paletteName }}"></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
