<div class="timeline">
	<ul class="timeline-container">
		<li class="date-container">
			<div class="date">Sept 18</div>
		</li>
		<li class="event">
			<div class="thumbnail"></div>
			<div class="user-posting">
				<div class="arrow-left"></div>
				<div class="user-content">
					<div class="user-content-inner">
						<h3 class="class-name">CMPSC 483W</h3>
						<p class="time">4:50 pm</p>
						<h6 class="user-name">Jessie Smith</h6>
						<p class="user-text">Some text here. Some text here. Some text here. Some text here.</p>
					</div>
					<div class="user-content-toolbar"></div>
				</div>
			</div>
		</li>
	</ul>
</div>