<div class="">
  <div class="new-post">
    <div class="new-post-container row" auth="instructor">
      <div class="col-xs-8" >
        <input type="text" value placeholder="Create new announcement" class="form-control new-post-input" ng-model="announcement">
      </div>
      <div class="col-xs-4">
        <div ng-show="$state.is('main.user.home')">
          <!--
          <div class="btn-group">
            <button type="button" class="btn">Action</button>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          -->
          <button type="button" class="btn btn-block btn-info col-xs-12" ng-click="addPostByCourseId(courseList._id)">Post</button>
          <select class="col-xs-12"ng-model="courseList" 
            ng-options="course as course.name for course in user.courses">
          </select>
        </div>
        <button type="button" class="btn btn-block btn-info" ng-show="!$state.is('main.user.home')" ng-click="addPost()">Post</button>
      </div>
      
    </div>
  </div>
  <div class="timeline" infinite-scroll="loadMorePosts()" inifinite-scroll-distance="2">
    <ul class="timeline-container">
      <div ng-show="!visiblePosts.length" class="no-announcements">No Announcements</div>
      <li class="event" ng-repeat="post in visiblePosts">
        <div class="date-container row">
          <div class="col-xs-12 col-lg-2"> 
            <div class="date">{{ post.date | date:'shortDate' }}</div>
          </div>
        </div>
        <div class="row">
          <div class="user-posting col-xs-12">
            <div class="arrow-left"></div>
            <div class="user-content">
              <div class="user-content-inner">
                <h4 class="class-name">{{ post.name }}</h4> <!-- note: courseName not implemented yet -->
                <p class="time">{{ post.date | date:'shortTime' }}</p>
                <h6 class="user-name">{{ post.author }}</h6> <!-- note: author not implemented yet -->
                <p class="user-text">{{ post.text }}</p>
              </div>
              <div class="user-content-toolbar {{ post.paletteName }}"></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
