#auth-widget {
  min-height: 128px;
  color: #555;
}

.auth-username {
  padding-left: 0;
  padding-right: 0;
}

.auth-username > .input-group {
  width: 100%;
}

#auth-widget input[type="text"]:focus,
#auth-widget input[type="password"]:focus {
  border-color: #3498DB;
}

#auth-widget input[type="text"],
#auth-widget input[type="password"]{
  border-radius: 0;
}

.auth-widget .form-control {
  border-radius: 0;
}

.auth-widget .input-group-btn .btn {
  border-radius: 0;
}
