.content-item {
  min-height: 128px;
}

#ui-datepicker-div {
  background-color:white;
}

#new-material-description {
  width: 100%;
  max-width:100%;
  height:200px;
  background-color: inherit;
  overflow-y:auto;
  overflow-x:hidden;
  border:0;
  margin:0;
  padding:0;
}

#assignment-header {
  margin-bottom: 20px;
}

#assignment-description {
  min-height: 200px;
  max-height: 200px;
  height: 200px;
  overflow: auto;
}

#assignment-submission-dropbox {
  height: 75px;
  margin-bottom: 25px;
}

#assignment-submission-attachment {
  height: 100px;
}

#assignment-submission-widget, #assignment-attachments-widget {
  min-height: 80px;
  max-height: 200px;
  height: 100%;
}

#submit-modal .btn i {
  color: black;
}

#submission-description-row {
  height:200px;
  margin-bottom: 0px;
}

#submission-attachments {
  height: 100px;
}

#submission-description {
  width: 100%;
  max-width: 100%;
  height: 200px;
  background-color: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0; 
  margin: 0;
  padding: 0;
}

#submission-attachment-list {
  bottom: 0;
  position: absolute;
  width: 100%;
  max-height: 200px;
  padding-bottom: 4px;
}

#submission-description-container {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

#submission-discard-icon {
  float: right;
}

#submission-attachment-list > li {
  margin-bottom: 4px;
}

#submission-attachment-list:last-child {
  margin-bottom: 0;
}

.submission-attachment-box {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(52, 152, 219, 0.5);
  background-color: #F5F5F5
  margin: 10px 0;
  width: 80%;
}

.submission-attachment-box > i.fa-times {
  cursor: pointer;
}

.submission-attachment-box-right {
  float: right;
  color: rgba(0,0,0,.3);
}

.submission-collaborator-container {
  padding-bottom: 5px;
}

.submission-collaborator {
  background-color: #f1c40f;
  margin: 2px;
  border-radius: 2px;
}

.submission-collaborator-remove {
  float: right;
}

#collaborator-search {
}
.collaborator-search-input {
 margin-bottom: 2px;
}

.searched-collaborator {
 width: 100px;
 margin: 1px 5px 1px 5px;
 background-color: lightgray;
}
