.upcoming-events-title {
  color: #3498DB;
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
}

.upcoming-events-container {
	background-color: #fff;
	border-radius: 5px;
}

.upcoming-events-container .alert-info {
	background-color: #fff;
	border-color: #fff;
	text-align: left;
	color: #bbb;
}

.upcoming-events-container input[type=checkbox] {
	float: right;
}

.upcoming-event-day, .upcoming-event-month {
	color: #3498DB;
}

.upcoming-event-day {
	font-family: 'Advent Pro', sans-serif;
  	font-weight: 100;
}

.upcoming-event-month {
	font-weight: 200;
}

.upcoming-events-month {
	text-align: center;
	color: #3498DB;
	font-family: 'Advent Pro', sans-serif;
  	font-weight: 100;
  	padding: 10px 0 0 0;
}

.upcoming-events-description {
	padding-left: 10px;
}

.strike {
	color: red;
}