

.categories-overall-averages {
  padding:2px;
  margin:1px;
}


.grade-tab, .grade-tab-all {
   cursor:pointer;
   text-align:center;
   background-color:#555;
   color: #fff;
}

.grade-tab {
  padding-bottom: 1px;
}

.grade-tab-all h1, .grade-tab h6 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
}

.grade-tab p {
  color: #aaa;
}

.grade-tab.active, .grade-tab-all.active {
  background-color:#fff;
  color: #3498DB;
 }

.grade-selection-container {
  background-color: #fff;
  height:400px;
  max-height:400px;
  overflow-y:auto;
  overflow-x:none;
}

.grade-selection-container-header {
  color: #3498DB;
  text-align:center;
  border-bottom:1px dashed #ccc;
  font-weight:bold;
  padding: 20px 0;
}

.grade-selection-container-title {
  overflow-x:none;
  padding-top:5px;
}

.grade-selection-container-item {
  text-align:center;
  height:30px;
  max-height:30px;
  overflow-y:auto;
  overflow-x:none;
  padding-top:5px;
}

@media (max-width: 991px) {
  #grades-list li {
  margin: 0;
  border-right: none;
  border-bottom: 1px dashed #ddd;
  float: none;
  text-align: center;
}
}
