body, html {
  padding: 0;
  min-height: 100%;
}

#main > div {
  min-height: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

.no-space [class*="span"] {
  margin-left: 0;
}

.palette {
  text-transform: inherit;
  padding: 0;
  margin: 0;
}

.palette-clouds {
  color: #555;
}

.fill {
  height: 100%;
  min-height: 100%;
}


#top-navbar {
  background-color: inherit;
  border: none;
  padding-top: 10px;
}

#top-navbar .navbar-brand {
  width: 128px;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus {
  color: #E74C3C;
  background-color: inherit;
}

.navbar .nav > li:first-child > a, .navbar .nav > li:first-child {
  border-radius: 0;
}

ul.nav > li > a {
  color: #555;
}

ul.nav > li.active > a, ul.nav li.active > a:hover {
  border: none;
  border-bottom: #E74C3C 2px solid;
  color: #E74C3C;
  background-color: inherit;
}

.navbar-collapse.in {
  overflow-y: inherit;
}

#center-container {
  padding: 0;
}

#left-navbar-container { 
  padding: 0 20px;
}

#left-navbar-container > .navbar-section {
  border-bottom: solid white 2px;
  padding-top: 24px;
  padding-bottom: 24px;
}

#left-navbar-container > .navbar-section:last-child {
  border: none;
}

#left-navbar-container a, #left-navbar-container a:hover, #left-navbar-container a:visited {
  text-decoration: none; color: inherit;
}

#left-navbar-user-container {
  text-align: center;
}

#left-navbar-courses-header {
  color:  rgba(0,0,0,.2);
}

#left-navbar-courses-list-container {
  margin-top: 20px;
}

#left-navbar-courses-list > li {
  padding-top: 10px;
  font-size: 1.25em;
}

#left-navbar-courses-list > li.active {
  text-decoration: underline;
  font-weight: bold;
}

#home-left-container, #course-left-container {
  border-right: 3px solid #3498DB;
}


@media (max-width: 991px) {
  #home-left-container, #course-left-container {
    border-right: none;
  } 
}

@media (max-width :767px) {
  #main > div {
  min-height: initial;
}